@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\style.css">

</head>
<body>
    <section>
        <h2>Before you go</h2>
        <p>
            If you are going to a foreign country please make a lot of research. Search about the culture, the weather, the dangers and the people's habits.
            Even in an European country like Spain there are a lot of differences. In the warm seasons the people get free time from work in the afternoon because
            it is too hot to work anymore. Therefore, they rest at home and most of the shops and restaurants are closed. This period is called siesta. Maybe in Barcelona
            as it is touristic city, there is no such practice, but when it comes to smaller cities like Lorca or Aguilas this happens for sure and it's better to know
            about it before.
        </p>
    </section>

    <section>
        <h2>Packing tips</h2>
        <p>
            Packing is an important step when it comes to traveling. Packing less or better packing smart means saving money. But you wouldn't want to miss anything
            important, right? So what do we do? For a trip of around a week trust me it is more than enough a hand backpack and a cabin troller. Start by adding the clothes
            and then between the clothes add more solid stuff. You could put you shoes into some bags and drag the air out of them to use less space and not to get everything
            dirty. Be careful with the liquids if you are traveling by plane especially. You have to put them into a <b>single</b> transparent bag of a specified dimensions
            if you only have cabin luggage. You can buy travel size products in order to have enough room for everything.
        </p>
    </section>

    <section>
        <h2>Transportation</h2>
        <p>
            It's always better to book you tickets in advance and to plan your transportation methods. If you are visisting a smaller city check for the biggest city
            with airport around it and fly there. Afterwards you need to look for a bus or a train to take you to the destination. Google is a very good friend of yours
            in this situation. When you are in the city you can use Google Maps it has always helped me with everything like what bus should I take. If this option doesn't
            help you either, ask the locals. But be aware they may not speak english all the time. If you speak the language that's perfect but if not Google Translate can help
            you this time. Be friend with technology!
        </p>
    </section>

    <section>
        <h2>Accommodation</h2>
        <p>
            You can use apps like Booking and Airbnb. I believe these are trustworthy. If you look for a cheaper option staying in a youth hostel is an amazing experience.
            You also get to know local people or other foreign people and you make new friends. Try to find something close to the city center but really in the city center
            because it will be noisy and pricy most likely.
        </p>
    </section>

    <section>
        <h2>Food and Drinks</h2>
        <p>
            Eat only at restaurants with crowded people. You can use also Trip Advisor to check for good places to eat at. Or maybe why not just ask a local.
            You might want to try local specialities, it would be a pitty not to.
        </p>

</body>
