@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<head>
	<meta charset="UTF-8">
	<title>Travel Blog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="\css\style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br>
				<h1>About the trip in <b> Alicante </b></h1>
				<br>
				<p>
					Alicante is a city in Spain. It's situated in the east of the country on the blank coast, or as they say in spanish "Costa Blanca".
					It looks like a very tropical place because of the sunny beaches and the palm trees. The people are very kind and civilized.
					The night life is also thriving. I got here by the plane. And afterwards I had to go to the youth hostel by bus.
					But ther was one little problem. We couldn't find the bus station although on google maps it showed that
					we were in the right place. The thing was that we were at -2 floor and the bus station was at 0 level. So we were in the right
					place, but below. We couldn't have figured this out by ourselves. Fortunately the employees helped us.
					<br>
				</p>
			</div>
			<div class="col-md-6">
				<img class="pictures-alicante" src="images\alicante1.jpg" alt="Alicante beaches" class="img-fluid">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<img class="pictures-alicante" src="images\lunch.jpg" alt="Lunch at a restaurant" class="img-fluid">
			</div>
			<div class="col-md-6">
				<br>
				<h2>Places you shouldn't miss</h2>
				<br>
				<p>
					First of all you should go eat somewhere, some nice and fresh food. My friend and I managed to find a really nice
					restaurant in the center of Alicante. There was a lot of food, full meal for only 10 €. We ate french fries, grilled chicken breast,
					dessert, olives and we also got wine. The owner of the restaurant was very friendly and had a lot of customers.
					The name of the restaurant is "Black rose". I highly recommend it.
					<br>
				</p>
			</div>
		</div>
	</div>
</body>
