@model IEnumerable<TravelBlogWebApp.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css\style.css">
    <script src="javascript.js"></script>
</head>
<body class="black-background">
    <br>

    <div class="gallery">
        <div class="containerOpacity">
            <a href="alicante.html">
                <img class="imageOpacity" src="images/alicante-dest.jpg">
                <div class="middle">
                    <div class="text-dest">Alicante</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/costinesti.jpg">
                <div class="middle">
                    <div class="text-dest">Costinesti</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/rome.jpg">
                <div class="middle">
                    <div class="text-dest">Rome</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/calimanesti.jpg">
                <div class="middle">
                    <div class="text-dest">Calimanesti</div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>