@model IEnumerable<TravelBlogWebApp.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\style.css">
    <script src="javascript.js"></script>
    <style>
        .search-form {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 10px;
        }

        .search-input {
            flex: 1;
            margin-right: 5px;
            margin-bottom: 99px;
        }

        .search-button {
            flex: 0 0 auto;
            margin-bottom:99px;
        }

        /* (B) GALLERY WRAPPER */
        .gallery {
            /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            /* (B2) OPTIONAL WIDTH RESTRICT */
            max-width: 1000px;
            margin: 0 auto;
            overflow: hidden;
        }
        /* (C) GALLERY IMAGES */
        .gallery img {
            /* (C1) DIMENSION */
            width: 100%;
            padding: 10px;
            /* (C2) COLORS */
            background: none;
            /* (C3) IMAGE RESIZE */
            /* cover | contain | fill | scale-down */
            object-fit: contain;
            position: relative;
        }
            /* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */

            /* (E) OPTIONAL ZOOM ON HOVER */
            .gallery img:hover {
                z-index: 9;
                transform: scale(1.3);
                /* linear | ease | ease-in | ease-out | ease-in-out */
                transition: transform ease 0.5s;
            }

        .containerOpacity {
            position: relative;
            width: 100%;
        }

        .imageOpacity {
            opacity: 1;
            width: 100%;
            padding: 10px;
            /* (C2) COLORS */
            background: #060505;
            /* (C3) IMAGE RESIZE */
            /* cover | contain | fill | scale-down */
            object-fit: contain;
            position: relative;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .containerOpacity:hover .imageOpacity {
            opacity: 0.3;
        }

        .containerOpacity:hover .middle {
            opacity: 1;
        }
   
    </style>
</head>
<body class="black-background">
    <br>

    @*<div class="search-form">
        @using (Html.BeginForm("Search", "Destination", FormMethod.Get))
        {
                <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by city or country" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>

           
        }
        <form asp-controller="Destinations" asp-action="Search" method="get">
            <p>
                Search: <input type="text" name="searchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
*@
    
    </div>
    <div class="gallery">
        <div class="containerOpacity">
            <a asp-area="" asp-controller="Destinations" asp-action="Alicante">
                <img class="imageOpacity" src="images/alicante-dest.jpg">
                <div class="middle">
                    <div class="text-dest">Alicante</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/costinesti.jpg">
                <div class="middle">
                    <div class="text-dest">Costinesti</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/rome.jpg">
                <div class="middle">
                    <div class="text-dest">Rome</div>
                </div>
            </a>
        </div>
        <div class="containerOpacity">
            <a href="#">
                <img class="imageOpacity" src="images/calimanesti.jpg">
                <div class="middle">
                    <div class="text-dest">Calimanesti</div>
                </div>
            </a>
        </div>

        @if (Model.Any())
        {

            @foreach (var destination in Model)
            {
                <div class="containerOpacity">
                    <a href="#">
                        <img class="imageOpacity" src="images/placeholder.jpg">
                        <div class="middle">
                            <div class="text-dest">@destination.City, @destination.Country</div>
                        </div>
                    </a>
                </div>

            }

        }
    </div>
</body>
</html>